/* Write your CSS here! */
#mainHeading {
    color:red;
    outline-style:inset;
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.center{text-align:center;}

.funParagraph{color:green;}
#testP{text-align:center;}

#pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#intro{
margin-left:40px;
margin-right:40px;
outline-style: inset;
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;
}

body{
    display:block;
    margin:8px;
}